<div class="container">
    <div class="row">
        <h1 class="text intermediate">Intermediate Level!</h1>
    </div>    
    <label class="text large bold" for="sound">Turn sound effects on?</label>   
    <input class="sound" name="sound" type="checkbox" id="sound" #sound>
    <button type="button" class="button" (click)="newGame()">New Game</button>
    <div class="row">
        <p id="score" class="text score"></p>
    </div>    
    <div class="row">
        <h1 id="cheat" class="text cheat"></h1>
    </div>

    <div class="row">
        <table class="table">
            <caption class="text large bold">Turn over the cards!</caption>
            <tr>
                <td class="clickable" tabindex="0" (click)="toggle(cell1, cell1front, cell1.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell1front>
                    <img class="card-back border" [src]="newArray[0].pictureurl" alt="Card one picture" #cell1 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell2, cell2front, cell2.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell2front>
                    <img class="card-back border" [src]="newArray[1].pictureurl" alt="Card one picture" #cell2 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell3, cell3front, cell3.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell3front>
                    <img class="card-back border" [src]="newArray[2].pictureurl" alt="Card one picture" #cell3 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell4, cell4front, cell4.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell4front>
                    <img class="card-back border" [src]="newArray[3].pictureurl" alt="Card one picture" #cell4 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell5, cell5front, cell5.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell5front>
                    <img class="card-back border" [src]="newArray[4].pictureurl" alt="Card one picture" #cell5 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell6, cell6front, cell6.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell6front>
                    <img class="card-back border" [src]="newArray[5].pictureurl" alt="Card one picture" #cell6 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell7, cell7front, cell7.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell7front>
                    <img class="card-back border" [src]="newArray[6].pictureurl" alt="Card one picture" #cell7 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell8, cell8front, cell8.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell8front>
                    <img class="card-back border" [src]="newArray[7].pictureurl" alt="Card one picture" #cell8 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell33, cell33front, cell33.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell33front>
                    <img class="card-back border" [src]="newArray[32].pictureurl" alt="Card one picture" #cell33 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell34, cell34front, cell34.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell34front>
                    <img class="card-back border" [src]="newArray[33].pictureurl" alt="Card one picture" #cell34 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell41, cell41front, cell41.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell41front>
                    <img class="card-back border" [src]="newArray[40].pictureurl" alt="Card one picture" #cell41 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell42, cell42front, cell42.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell42front>
                    <img class="card-back border" [src]="newArray[41].pictureurl" alt="Card one picture" #cell42 width="100px" height="100px">
                </td>
            </tr>
            <tr>
                <td class="clickable" tabindex="0" (click)="toggle(cell9, cell9front, cell9.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell9front>
                    <img class="card-back border" [src]="newArray[8].pictureurl" alt="Card one picture" #cell9 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell10, cell10front, cell10.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell10front>
                    <img class="card-back border" [src]="newArray[9].pictureurl" alt="Card one picture" #cell10 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell11, cell11front, cell11.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell11front>
                    <img class="card-back border" [src]="newArray[10].pictureurl" alt="Card one picture" #cell11 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell12, cell12front, cell12.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell12front>
                    <img class="card-back border" [src]="newArray[11].pictureurl" alt="Card one picture" #cell12 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell13, cell13front, cell13.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell13front>
                    <img class="card-back border" [src]="newArray[12].pictureurl" alt="Card one picture" #cell13 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell14, cell14front, cell14.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell14front>
                    <img class="card-back border" [src]="newArray[13].pictureurl" alt="Card one picture" #cell14 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell15, cell15front, cell15.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell15front>
                    <img class="card-back border" [src]="newArray[14].pictureurl" alt="Card one picture" #cell15 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell16, cell16front, cell16.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell16front>
                    <img class="card-back border" [src]="newArray[15].pictureurl" alt="Card one picture" #cell16 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell35, cell35front, cell35.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell35front>
                    <img class="card-back border" [src]="newArray[34].pictureurl" alt="Card one picture" #cell35 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell36, cell36front, cell36.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell36front>
                    <img class="card-back border" [src]="newArray[35].pictureurl" alt="Card one picture" #cell36 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell43, cell43front, cell43.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell43front>
                    <img class="card-back border" [src]="newArray[42].pictureurl" alt="Card one picture" #cell43 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell44, cell44front, cell44.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell44front>
                    <img class="card-back border" [src]="newArray[43].pictureurl" alt="Card one picture" #cell44 width="100px" height="100px">
                </td>
            </tr>
            <tr>
                <td class="clickable" tabindex="0" (click)="toggle(cell17, cell17front, cell17.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell17front>
                    <img class="card-back border" [src]="newArray[16].pictureurl" alt="Card one picture" #cell17 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell18, cell18front, cell18.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell18front>
                    <img class="card-back border" [src]="newArray[17].pictureurl" alt="Card one picture" #cell18 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell19, cell19front, cell19.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell19front>
                    <img class="card-back border" [src]="newArray[18].pictureurl" alt="Card one picture" #cell19 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell20, cell20front, cell20.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell20front>
                    <img class="card-back border" [src]="newArray[19].pictureurl" alt="Card one picture" #cell20 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell21, cell21front, cell21.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell21front>
                    <img class="card-back border" [src]="newArray[20].pictureurl" alt="Card one picture" #cell21 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell22, cell22front, cell22.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell22front>
                    <img class="card-back border" [src]="newArray[21].pictureurl" alt="Card one picture" #cell22 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell23, cell23front, cell23.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell23front>
                    <img class="card-back border" [src]="newArray[22].pictureurl" alt="Card one picture" #cell23 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell24, cell24front, cell24.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell24front>
                    <img class="card-back border" [src]="newArray[23].pictureurl" alt="Card one picture" #cell24 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell37, cell37front, cell37.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell37front>
                    <img class="card-back border" [src]="newArray[36].pictureurl" alt="Card one picture" #cell37 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell38, cell38front, cell38.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell38front>
                    <img class="card-back border" [src]="newArray[37].pictureurl" alt="Card one picture" #cell38 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell45, cell45front, cell45.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell45front>
                    <img class="card-back border" [src]="newArray[44].pictureurl" alt="Card one picture" #cell45 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell46, cell46front, cell46.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell46front>
                    <img class="card-back border" [src]="newArray[45].pictureurl" alt="Card one picture" #cell46 width="100px" height="100px">
                </td>
            </tr>
            <tr>
                <td class="clickable" tabindex="0" (click)="toggle(cell25, cell25front, cell25.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell25front>
                    <img class="card-back border" [src]="newArray[24].pictureurl" alt="Card one picture" #cell25 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell26, cell26front, cell26.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell26front>
                    <img class="card-back border" [src]="newArray[25].pictureurl" alt="Card one picture" #cell26 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell27, cell27front, cell27.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell27front>
                    <img class="card-back border" [src]="newArray[26].pictureurl" alt="Card one picture" #cell27 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell28, cell28front, cell28.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell28front>
                    <img class="card-back border" [src]="newArray[27].pictureurl" alt="Card one picture" #cell28 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell29, cell29front, cell29.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell29front>
                    <img class="card-back border" [src]="newArray[28].pictureurl" alt="Card one picture" #cell29 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell30, cell30front, cell30.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell30front>
                    <img class="card-back border" [src]="newArray[29].pictureurl" alt="Card one picture" #cell30 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell31, cell31front, cell31.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell31front>
                    <img class="card-back border" [src]="newArray[30].pictureurl" alt="Card one picture" #cell31 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell32, cell32front, cell32.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell32front>
                    <img class="card-back border" [src]="newArray[31].pictureurl" alt="Card one picture" #cell32 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell39, cell39front, cell39.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell39front>
                    <img class="card-back border" [src]="newArray[38].pictureurl" alt="Card one picture" #cell39 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell40, cell40front, cell40.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell40front>
                    <img class="card-back border" [src]="newArray[39].pictureurl" alt="Card one picture" #cell40 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell47, cell47front, cell47.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell47front>
                    <img class="card-back border" [src]="newArray[46].pictureurl" alt="Card one picture" #cell47 width="100px" height="100px">
                </td>
                <td class="clickable" tabindex="0" (click)="toggle(cell48, cell48front, cell48.src, sound)">
                    <img class="card-front" src="assets/intermediate-card.png" alt="front of card" #cell48front>
                    <img class="card-back border" [src]="newArray[47].pictureurl" alt="Card one picture" #cell48 width="100px" height="100px">
                </td>
            </tr>
     
        </table>
        <p class="text hooray" id="hooray"></p>
    </div>
</div>    
