.intermediate{
    background-color: #00008b;
    color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
}

.hooray{
    background-color: #00008b;
    color: #ffffff;
    border: 2px solid #000000;
    border-radius: 5px;
}