<div class="container">
  <h1 class="text header">{{title}}</h1>
  <nav class="nav list">
    
      <a class="link" routerLink="home" routerLinkActive="active"><div class="list-item">Home</div></a>
      <a class="link" routerLink="beginner" routerLinkActive="active"><div class="list-item">Beginner Level</div></a>
      <a class="link" routerLink="intermediate" routerLinkActive="active"><div class="list-item">Intermediate Level</div></a>
      <a class="link" routerLink="expert" routerLinkActive="active"><div class="list-item">Expert Level</div></a>
    
  </nav>
</div>
<router-outlet></router-outlet>
